.RemoveButton{
    margin-bottom: 4px;
    margin-top: 3px;
}
.Stepper{
    width: 100%;
    min-width: 80px;
}
.NaviBar{
    background-color: #6A8372;
}

.ProcessButton{
    margin-top: 20px;
}
.returnButton{
    margin-top: 9px ;
    color: white;
}
.deleteIcon{
    margin-right: 3px;
}
.cartIMG{
    width: 100px;
    height: 100px;
    margin-bottom: 5px;
    margin-left: 3px;
    margin-right: 20px;
    border-radius: 3%;
    float: left;
}
.CartQuantity{
    margin-top: 5px;
    margin-left: 10px;
}
.CartProductName{
    font-size: 18px;
    margin-top: 22px;
}
.CartProductDescription{
    margin-top: 5px;
    color: gray;
}